.stage{
    background-color: rgb(165, 104, 61);
    padding: 10px;
}


.pedalboard {
    display: flex;
    flex-wrap: nowrap;
  
  }

  



  /*----------- DISTORTION PEDAL -------------*/
  .distortionPedal {
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   background: rgb(201,140,0);
   background: linear-gradient(180deg, rgba(201,140,0,1) 0%, rgba(238,147,12,1) 36%, rgba(255,199,0,1) 100%);
    border: 3px solid rgb(49, 48, 48);
    height: 30em;
    width: 18em;
    border-radius: 15px;
    display: grid;
    grid-template-areas:
           '. . one two three . .'
          '. . four five six . .'
         '. . seven eight nine . .'
          '. . ten eleven twelve . .'
    '. . thirteen fourteen fifteen . .'
          '. . text text text . .';
  }
  







  /*----------- BOOST PEDAL -------------*/
  
  .boostPedal {
      margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: rgb(175,11,11);
  background: linear-gradient(180deg, rgba(175,11,11,1) 0%, rgba(241,34,0,1) 34%, rgba(255,134,99,1) 100%);
    border: 3px solid rgb(49, 48, 48);
    height: 30em;
    width: 18em;
    border-radius: 15px;
    display: grid;
    grid-template-areas:
           '. . one two three . .'
          '. . four five six . .'
         '. . seven eight nine . .'
          '. . ten eleven twelve . .'
    '. . thirteen fourteen fifteen . .'
          '. . text text text . .';
  }
  
  #vol-text{
    font-size: 20px;
    margin-top: 80px;
  
  }
  
  
  
  
  
  .volume {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 25px solid black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    grid-area: four;
    margin-left: 30px;
  }
  
  .tone{
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 25px solid black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    grid-area: six;
    margin-right: 30px;
  }
  

  
  #ledLightOff {
    background-color: grey;
    border: 2px solid grey;
    height: 0.8em;
    width: 0.8em;
    border-radius: 100%;
    grid-area: eleven;
    margin-left: 16px;
    margin-top: 10px;
  }

  #ledLightOn {
    background-color: red;
    box-shadow: 0px 0px 15px 5px #ff0000ab;
    border: 2px solid red;
    height: 0.8em;
    width: 0.8em;
    border-radius: 100%;
    grid-area: eleven;
    margin-left: 16px;
    margin-top: 10px;
  }
  
  .onSwitch {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 10px solid grey;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    grid-area: fourteen;
  }
  
  #distortionOnSwitch {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 10px solid grey;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    grid-area: fourteen;
  }





  .text{
    grid-area: text;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  