  html {
    background-color: #373634;
  }
  
  /*----------- NAVBAR -------------*/

  .navbar {
    color: white;
    background-color: rgb(19, 17, 17);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 30%;
  }
  
  li{
    display: inline;
    padding: 1em;
    }

  li:hover{
    background-color: black;
    border-radius: 10px;
    }

    li a{
      text-decoration: none;
      color: white;
    }
    
    li a:visited{
      text-decoration: none;
      color: rgb(233, 39, 39);
    }

  
  /*----------- STAGE -------------*/

.stage{
  background-image: url('../media/bg4.jpg');
  background-size: cover;
    padding: 10px;
    text-align: center;
}

.stage h2{
  color: rgb(196, 58, 58);
  background-color: black;;
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  font-weight: 300;
  border-radius: 15px;
  padding: 5px;
}

.stage h1{
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
}

  /*----------- MASTER CABINET -------------*/

.cabinet {
  background-color: black;
  width: 81%;
  height: 17em;
  border: 30px solid rgb(19, 17, 17);
  border-radius: 15px;
  margin-left: 5%;
}

.cabinet{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  '. . . . . . . . . . . . . . .'
  '. . . . . text text text text text . . . . .'
  '. . . . . text text text text text . . . . .'
  '. . . . . . . . . . . . . . .'

  'banner banner banner banner banner banner banner banner banner banner banner banner banner banner banner'
  'banner banner banner banner banner banner banner banner banner banner banner banner banner banner banner';
}


#cabinetText{
  font-family: 'Lobster', cursive;
  grid-area: text;
  font-size: 96px;
  text-align: center;
  color: white;
  place-self: center;
}

#goldBanner{
background-color: rgb(235, 212, 83);
grid-area: banner;
}

#goldBanner {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 100%; 
  grid-template-areas:
    'a b c d e f g h i j k l m n o'
    'aa bb cc dd ee ff gg hh ii jj kk ll mm nn oo';
}

.cabMasterText{
  grid-area: ff;
  font-size: 16px;
  align-self: start;
  font-family: 'Kanit', sans-serif;
  color: white;
}

.cabTrebleText{
  grid-area: ii;
  font-size: 16px;
  align-self: start;
  font-family: 'Kanit', sans-serif;
  color: white;
}

.cabMidText{
  grid-area: kk;
  font-size: 16px;
  align-self: start;
  font-family: 'Kanit', sans-serif;
  color: white;
}

.cabBassText{
  grid-area: mm;
  font-size: 16px;
  align-self: start;
  font-family: 'Kanit', sans-serif;
  color: white;
}


#masterVolume{
  grid-area: f;
  place-self: center;
  }
       
  #bass{
    grid-area: m;
    place-self: center;
  }
  
  #mid{
    grid-area: k;
    place-self: center;
  }
  
  #treble{
    grid-area: i;
    place-self: center;
  }




.masterSwitchOff{
  grid-area: b;
  background-color: rgb(150, 16, 16);
  justify-self: stretch;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.masterSwitchOn{
  grid-area: b;
  background-color: red;
  justify-self: stretch;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 30px 10px #ff0000ab;
}



  /*----------- PEDALBOARD -------------*/


.pedalboard {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    gap: 5%;
  }

  
  .text{
    font-family: 'Lobster', cursive;
    grid-area: text;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }



  /*----------- BOOST PEDAL -------------*/
  
  .boostPedal {

    margin: 1em;
    margin-left:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background: rgb(5,1,70);
    background: linear-gradient(180deg, rgba(5,1,70,1) 0%, rgba(2,2,152,1) 35%, rgba(0,212,255,1) 100%);
    border: 2px solid rgb(49, 48, 48);
    height: 25em;
    width: 14em;
    border-radius: 15px;
    display: grid;
    place-items: center;
    grid-template-areas:
             '. . one two three . .'
            '. . four five six . .'
           '. . seven eight nine . .'
            '. . ten eleven twelve . .'
      '. . thirteen fourteen fifteen . .'
            '. . text text text . .';
    }
    
    .pedalText{
      grid-area: eight;
      font-size: 20px;
      font-weight: bold;
      align-self: start;
      font-family: 'Kanit', sans-serif;
    }
 


  /*----------- DISTORTION PEDAL -------------*/
  .distortionPedal {
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   background: rgb(201,140,0);
   background: linear-gradient(180deg, rgba(201,140,0,1) 0%, rgba(238,147,12,1) 36%, rgba(255,199,0,1) 100%);
    border: 3px solid rgb(49, 48, 48);
    height: 25em;
    width: 14em;
    border-radius: 15px;
    display: grid;
    place-items: center;
    grid-template-areas:
           '. . one two three . .'
          '. . four five six . .'
         '. . seven eight nine . .'
          '. . ten eleven twelve . .'
    '. . thirteen fourteen fifteen . .'
          '. . text text text . .';
  }

  /*----------- REVERB PEDAL -------------*/

  .reverbPedal {
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   background: rgb(70,0,99);
   background: linear-gradient(180deg, rgba(70,0,99,1) 0%, rgba(110,4,136,1) 17%, rgba(172,45,230,1) 66%);
   border: 3px solid rgb(49, 48, 48);
    height: 25em;
    width: 14em;
    border-radius: 15px;
    display: grid;
    place-items: center;
    grid-template-areas:
           '. . one two three . .'
          '. . four five six . .'
         '. . seven eight nine . .'
          '. . ten eleven twelve . .'
    '. . thirteen fourteen fifteen . .'
          '. . text text text . .';
  }
  
 /*----------- TREMOLO PEDAL -------------*/
/* 
 .tremoloPedal {
  margin: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background: rgb(5,1,70);
  background: linear-gradient(180deg, rgba(5,1,70,1) 0%, rgba(2,2,152,1) 35%, rgba(0,212,255,1) 100%);
  border: 3px solid rgb(49, 48, 48);
  height: 25em;
  width: 14em;
  border-radius: 15px;
  display: grid;
  place-items: center;
  grid-template-areas:
         '. . one two three . .'
        '. . four five six . .'
       '. . seven eight nine . .'
        '. . ten eleven twelve . .'
  '. . thirteen fourteen fifteen . .'
        '. . text text text . .';
} */

 /*----------- LED LIGHTS -------------*/
  
  .ledLightOff {
    background-color: grey;
    border: 2px solid grey;
    height: 0.8em;
    width: 0.8em;
    border-radius: 100%;
    grid-area: eleven;
    place-items: center;

  }

  .ledLightOn {
    background-color: red;
    box-shadow: 0px 0px 25px 10px #ff0000ab;
    border: 2px solid red;
    height: 0.8em;
    width: 0.8em;
    border-radius: 100%;
    grid-area: eleven;
    place-items: center;

  }
  
 /*----------- ON SWITCH -------------*/

  .onSwitch {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 10px solid grey;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    grid-area: fourteen;
  }
  
  

   /*----------- KNOBS -------------*/

#masterVolume{
grid-area: f;
place-self: center;
}
     
#bass{
  grid-area: m;
  place-self: center;
}

#mid{
  grid-area: k;
  place-self: center;
}

#treble{
  grid-area: i;
  place-self: center;
}

#boostGain {
  grid-area: five;
  place-self: center;
}

#distortionFuzz {
  grid-area: five;
  place-self: center;
}


#reverbMix {
  grid-area: five;
  place-self: center;
}

    
 /*----------- Common properties ------------*/


  .virtual_knob {
    font-size: 28px;
    height: 90px;
    line-height: 58px;
    position: relative;
    width: 90px;
  }
  
  .knob {
    background: rgb(244,244,244);
    background: radial-gradient(circle, rgba(244,244,244,1) 3%, rgba(221,221,221,1) 17%, rgba(172,172,172,1) 66%);
    border: 22px solid black;
    border-radius: 50%;
    box-shadow: 0px 1px 7px 1px rgba(32,32,32,.7);
    box-sizing: border-box;
    color: white;
    font-size: 28px;
    left: 13px;
    line-height: 58px;
    position: absolute;
    top: 13px;
    height: 64px;
    width: 64px;
  }
  
  .dial {
    background-color: white;
    height: 14px;
    left: 44px;
    position: absolute;
    bottom: 18px;
    width: 2px;
  }

 